body {
    display: flex;
    background-color: #0C4160;
    color: #C3CEDA;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-family: 'Fira Sans', sans-serif;
}
.divmain {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    background-color: #0D659D;
    border-radius: 100px;
	width: 800px;
    align-items: center;
    justify-content: center;
	border-style: solid;
	border-color: #738FA7;
}

.regform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    font-size: x-large;
    padding: 10px;
    margin-top: 100px;
    background-color: #0D659D;
    border-radius: 20px;
	border-style: solid;
	border-color: #738FA7;
}
.submitbutton {
	margin-top: 30px;
    background:linear-gradient(to bottom, #C3CEDA 5%, #019ad2 100%);
	background-color: transparent;
	border-radius:30px;
	border:2px solid #C3CEDA;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 32px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
    margin-left: 80px;
}
.submitbutton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #C3CEDA 100%);
	background-color:#019ad2;
}
.submitbutton:active {
	position:relative;
	top:1px;
}
.homebutton {
	margin-bottom: 30px;
    background:linear-gradient(to bottom, #C3CEDA 5%, #019ad2 100%);
	background-color: transparent;
	border-radius:30px;
	border:2px solid #C3CEDA;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 32px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.homebutton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #C3CEDA 100%);
	background-color:#019ad2;
}
.homebutton:active {
	position:relative;
	top:1px;
}
.main {
	display: flex;
	justify-content: space-between;
}
.waterfall {
	margin-top: 100px;
	margin-right: 50px;
	border-radius: 30px;
}

@media screen and (max-width: 800px) {
	.divmain {
		font-size: x-large;
		width: 600px;
	}
	.submitbutton {
		padding: 6px 24px;
		border-radius: 16px;
		
	}
	.homebutton {
		padding: 6px 24px;
		border-radius: 16px;
	}
	.regform {
		font-size: large;
	}
}





