body {
    background-color: #0C4160;
    color: #C3CEDA;
    font-family: 'Fira Sans', sans-serif;
}
.headerdiv {
    background-color: #0D659D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: xx-large;
    
}